<div class="row clearfix">
<div class="large-6 columns"><%= image_tag @outfit.image_url(:full_size) %></div>
<div class="panel large-6 columns">
  <div>
    <p class="text-justify"><%= @outfit.description %></p>
    <p class="text-justify"><%= @outfit.user.username %></p>
  </div>
   <% if @outfit.user == current_user %>
    <%= link_to 'Edit', edit_outfit_path(@outfit), class: "button radius" %>
    <%= link_to 'Delete', outfit_path(@outfit), method: :delete , class: "button radius"%>
    <%= simple_form_for @outfit do |f| %>
      <%= f.input :tags %>
      <%= f.button :submit, label: "Add tags" %>
    <%end %>
  <% end %>
</div>
</div>
